<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5" id="form1">
        <div class="form-data" v-if="!submitted">
          <div class="forms-inputs mb-4">
            <span>Email</span>
            <input autocomplete="off"
                   class="w-50"
                   [(ngModel)]="formUsuario.email">
          </div>
          <div class="forms-inputs mb-4">
            <span>Contraseña</span>
            <input autocomplete="off"
                   class="w-50"
                   type="password"
                   [(ngModel)]="formUsuario.clave">
          </div>
          <div class="mb-3">
            <button v-on:click.stop.prevent="submit"
                    class="btn btn-dark w-50"
                    (click)="Registrar()">Registrar</button>
          </div>
          OJO - falta validar que no exista al momento de Registrar
        </div>
      </div>
    </div>
  </div>
</div>