<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5" id="form1">
        <div class="form-data" v-if="!submitted">
          <div class="forms-inputs mb-4">
            <span>Nombre</span>
            <input autocomplete="off"
                   class="form-control"
                   [(ngModel)]="nombre">
          </div>
          <div class="forms-inputs mb-4">
            <span>Email</span>
            <input autocomplete="off"
                   class="form-control"
                   [(ngModel)]="email">
          </div>
          <div class="forms-inputs mb-4">
            <span>Contraseña</span>
            <input autocomplete="off"
                   class="form-control"
                   type="password"
                   [(ngModel)]="clave">
          </div>
          <div class="mb-3">
            <button class="btn btn-dark w-100"
                    (click)="registrar()">Registrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
