<!--<div class="container">
  <div class="row align-items-start">
    <div class="col-12">
      <h4>Juan Pablo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <div style="text-align: center;">
        <h4>Laboratorio IV - Ejercicios</h4>
      </div>
    </div>
  </div>
</div>
<hr />
<button routerLink="calculos-edad" class="btn btn-dark m-1">Ejercicio 01</button>
<button routerLink="login" class="btn btn-dark m-1">/login</button>
<button routerLink="registro" class="btn btn-dark m-1">/registro</button>
<button routerLink="bienvenido" class="btn btn-dark m-1">/bienvenido</button>
<button routerLink="error" class="btn btn-dark m-1">/error</button>
<button routerLink="dfgfdgfdgfdgfdgfdgdfg" class="btn btn-dark m-1">/sdfsdfdsfsdfdsf</button>
<hr />
<router-outlet /> -->

<app-home></app-home>
