<div class="container-fluid bg-secondary" style="height: 47px;">
  <div class="row">
    <!-- izquierda -->
    <div class="m-1 col d-flex justify-content-start align-items-center">
      <button href="#" type="button" class="btn text-white bg-dark" style="white-space: nowrap; margin-right: 8px;" routerLink="calculos-edad">Calculos de Edad</button>
      <div class="separator"></div> <!-- separador -->
      <button href="#" type="button" class="btn text-white bg-dark" style="white-space: nowrap; margin-left: 8px; margin-right: 8px" routerLink="bienvenida">Bienvenida</button>
      <button href="#" type="button" class="btn text-white bg-dark" style="white-space: nowrap; margin-right: 8px;" routerLink="login">Login</button>
      <button href="#" type="button" class="btn text-white bg-dark" style="white-space: nowrap; margin-right: 8px;" routerLink="registro">Registrarse</button>
      <button href="#" type="button" class="btn text-white bg-dark" style="white-space: nowrap; margin-right: 8px;" routerLink="error">Error</button>
      <button href="#" type="button" class="btn text-white bg-dark" style="white-space: nowrap;" (click)="cerrarSesion()" >Cerrar Sesion</button>
    </div>

    <!-- centro -->
    <div class="m-1 col d-flex justify-content-center align-items-center">
      <!-- por si se me ocurre algo en el centro -->
    </div>
    
    <!-- derecha -->
    <div class="m-1 col d-flex justify-content-end align-items-center">
      <div class="m-1 col d-flex justify-content-end align-items-center">
        <span class="text-white">Juan Pablo Dongo Huaman</span>
      </div>
    </div>
  </div>
</div>
<router-outlet />
<!-- https://bbbootstrap.com/snippets/navigation-bar-brand-logo-and-name-39723760 -->

